body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
}

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

        .navbar ul li {
            float: left;
        }

            .navbar ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .navbar ul li a:hover {
                    background-color: #111111;
                }

#logo {
    padding: 14px 16px;
    height: 15px;
}

table {
    border-collapse: collapse;
    width: 90%;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
}

th {
    background-color: #04AA6D;
    color: white;
}

    th a {
        color: white;
        text-decoration: none;
    }

tr:hover {
    background-color: coral;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.list-container {
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
}

.container-title {
    text-align: center;
}

.searching-options {
    margin-left: 0%;
    margin-bottom: 5px;
    font-size: larger;
    overflow: hidden;
    width: auto;
    word-break: break-all;
}

#after-picture {
    width: 150px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
    border-radius: 8px;
}

.picture-holder {
    padding-top: 5%;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 50%;
    opacity: 0.5;
}

#addLink {
    float: right;
    margin-right: 0%;
    background-color: orangered;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    width: 80px;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
}

.submit-button {
    margin: auto;
    margin-bottom: 5px;
    border: none;
    outline: none;
    background: orangered;
    color: white;
    cursor: pointer;
    padding: 6px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
}

    .submit-button:hover {
        background-color: rgb(255, 140, 0);
    }

#search-submit-button {
    border: none;
    outline: none;
    background: orangered;
    color: white;
    cursor: pointer;
    padding: 6px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
}

#addLink:hover {
    background-color: rgb(255, 140, 0);
    transition: 0.5s;
}

.actionsForTable {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}

.actionButtons {
    margin-left: auto;
}

.container {
    width: 100%;
    margin: 0%;
    background-color: #a19e9e5e;
    display: inline-block;
}

.form-container {
    width: 500px;
    max-width: 90%;
    margin: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
}

    .form-container form {
        width: 100%;
        height: 100%;
        padding: 20px;
        background: white;
        border-radius: 5px;
        box-shadow: 5px 5px 15px 0px #04AA6D;
    }

        .form-container form h1 {
            text-align: center;
            margin-bottom: 24px;
        }

        .form-container form .form-field {
            width: 96%;
            height: 30px;
            background-color: #f2f2f2;
            ;
            border-radius: 5px;
            border: 1px solid silver;
            margin: 10px 0 18px 0;
            padding: 0 10px;
        }

.searching-field {
    height: 30px;
    background-color: #f2f2f2;
    ;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 0;
    padding: 0 10px;
}

.filter-field {
    height: 30px;
    background-color: #f2f2f2;
    ;
    border-radius: 5px;
    border: 1px solid silver;
    width: 120px;
    text-align: center;
}

.form-container form .form-field-select {
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    ;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.searching-options label {
    font-size: larger;
    font-weight: bolder;
}

.form-container form .btn {
    margin: auto;
    transform: translate(-50%);
    width: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    background: orangered;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}

.form-container form a {
    text-decoration: none;
    background-color: #04AA6D;
    color: white;
}

.form-container form .btn:hover {
    background-color: rgb(255, 140, 0);
}

.form-row {
    margin: auto;
    font-size: large;
}

.title {
    text-align: center;
}

.actions {
    display: flex;
    margin: auto;
    text-align: center;
}

.actions-back {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #04AA6D;
    margin: auto;
    vertical-align: baseline;
}

.table-action-buttons {
    display: inline-flex;
    align-items: center;
    margin: auto;
}

.table-action-buttons button {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border: none;
    outline: none;
    background: orangered;
    color: white;
    cursor: pointer;
    padding: 6px;
    font-weight: bold;
    border-radius: 5px;
}

    .table-action-buttons button:hover {
        background-color: rgb(255, 140, 0);
    }

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.filter-container {
    display: block;
    justify-content: left;
    background-color: #04AA6D;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
}

.table-container {
    display: flex;
    justify-content: center;
}

.filter-option-row {
    margin: 10px;
    border-bottom: #04fa9f 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.title {
    margin: 5px;
    font-size: large;
    font-weight: bold;
    color: white;
}
